<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
(% if {{ expired }}==0 %)
  <form method="post" action="{{ request.path }}">
      <label name="password">Enter new password</label>
      <input type="text" name="password">
      <input type="submit" value="submit">
  </form>
(% elif {{expired}}==1 %)
  <p>link expired</p>
  <form method="post" action="{{ request.path }}">
      <label name=""email>Enter email again</label>
      <input type="text" name="email">
      <input type="submit" value="submit">
  </form>
(% endif %)
</body>
</html>