<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
<script>
    function check(){
        attempt='true';
        password=document.getElementById("reset").value;
        email=password.split('@');
        if (email.length>2 || email.length===1) {
            alert('Invalid email');
            attempt = '';
        }
        else{
            if (email[1].split.length<=1){
                alert('Invalid email');
                attempt='';
            }
        }
        }
</script>
</head>
<body>
<p>Enter your email here:</p>
<form>
<input type="text" id="reset" placeholder="Somebody@something.else">
<button name="Submit" onclick="check()">submit</button>
</form>
</body>
</html>
/