<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
<script>
    function check(){
        attempt='true';
        password=document.getElementById("reset").value;
        email=password.split('@');
        if (email.length>2 || email.length===1) {
            alert('Invalid email');
            attempt = '';
        }
        else{
            if (email[1].split.length<=1){
                alert('Invalid email');
                attempt='';
            }
        }
        if (attempt==='true'){
        }
        else{
            document.getElementsByName('submit').preventDefault();
        }
        }
</script>
</head>
<body>
{% if message %}
<p class=error><strong>Message:</strong> {{ message }}</p>
  {% endif %}
<p>Enter your account email here:</p>
<form method='post' action="{{ request.path }}">
    <input type="text" name="email" placeholder="Somebody@something.else">
    <input onclick="check()" type="submit" value="submit">
</form>
</body>
</html>
