{% extends "Dtemplate17112018/layout.html" %}
{% block content %}
    <main class="container signup-section">
        <div class="section-content">
            <h2>Post Review</h2>
            <form method="POST" action="/IDForm_redirect">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <!--{{ form.preferred_name.label }} -->
                        {{ form.preferred_name(placeholder="Preferred name (username will be used if blank)") }}
                    </div>
                    <div class="col-12">
                        {{ form.submit(class="btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
