{% extends "layout.html" %}
{% block body %}
  <div class="content-section">
    <legend class="border-bottom mb-4">Register Now!</legend>
               <form>
                   <div class="dropdown show">

                     <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Teacher
                     </a>

                       <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                           <a class="dropdown-item" href="{{ url_for('teacher_register') }}">Teacher</a>
                           <a class="dropdown-item" href="{{ url_for('student_register') }}">Student</a>
                           <a class="dropdown-item" href="{{ url_for('admin_register') }}">Admin</a>
                           <a class="dropdown-item" href="{{ url_for('alumni_register') }}">Alumni</a>
                       </div>
                   </div>
              </form>
      <form method="POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">

            <div class="row">
              <div class="form-group col-xs-6">
                  {{ form.firstname.label(class="form-control-label") }}

                  {% if form.firstname.errors %}
                    {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.firstname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.firstname(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group col-xs-6">
                  {{ form.lastname.label(class="form-control-label") }}

                  {% if form.lastname.errors %}
                    {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.lastname.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.lastname(class="form-control form-control-lg") }}
                  {% endif %}
              </div>

              <div class="form-group col-xs-6">
                  {{ form.Age.label(class="form-control-label") }}

                  {% if form.Age.errors %}
                    {{ form.Age(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.Age.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.Age(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
            </div>
              <div class="form-group">
                  {{ form.email.label(class="form-control-label") }}

                  {% if form.email.errors %}
                    {{ form.email(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.password.label(class="form-control-label") }}

                  {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.password(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
              <div class="form-group">
                  {{ form.confirm_password.label(class="form-control-label") }}

                  {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                  {% else %}
                      {{ form.confirm_password(class="form-control form-control-lg") }}
                  {% endif %}
              </div>
    </fieldset>
          <div class="form-group">
                  {{ form.submit(class="btn btn-outline-success") }}
          </div>
      </form>

  </div>
    <div class="border-top pt-3">
     <small class="text-muted">
         Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
     </small>

    </div>
{% endblock %}