{% extends "Dtemplate17112018/layout.html" %}
{% block content %}
    <main class="container signup-section">
        <div class="section-content">
            <h2>Post Review</h2>
            <form method="POST" action="/ReviewForm1.html">
                <div class="row gtr-uniform">
                    <div class="col-6 col-12-xsmall">
                        <!--{{ form.preferred_name.label }} -->
                        {{ form.preferred_name(placeholder="Preferred name (username will be used if blank)") }}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        <!--{{ form.review_title.label }} -->
                        {{ form.review_title(placeholder="Title of Review") }}
                    </div>
                    <div class="col-12">
                        {{ form.review_body.label }}
                        {{ form.review_body(placeholder="Write Review here") }}
                    </div>
                    <div class="col-6 col-12-small">
                        {{ form.review_rating.label }}
                        {{ form.review_rating }}
                    </div>
                    <div class="col-6 col-12-small">
                        {{ form.review_tags.label }}
                        {{ form.review_tags }}
                    </div>
                    <div class="col-12">
                        {{ form.submit(class="btn-primary") }}
                    </div>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
